.sidebar {
  width: 100%;
  margin-top: 24px;
  padding: 0 24px;
}

.brand {
  display: flex;
}

.brand__text {
  margin-right: 16px;
  color: var(--primary);
}

.brand__text p {
  font-size: 13px;
  margin-top: 4px;
}

.logo {
  width: 64px;
  height: 64px;
}

.nav {
  margin: 24px 0;
}

.nav__title {
  color: #555;
  margin-bottom: 8px;
  display: inline-block;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav__list li:not(:first-child) {
  margin: 10px 0;
}

.platform-icon {
  width: 20px;
  margin-left: 4px;
  vertical-align: middle;
  filter: grayscale(1);
}
.platform-icon.active {
  filter: grayscale(0);
}

.menu-button {
  padding: 8px;
  width: 100%;
  border: none;
  color: white;
  margin-top: 24px;
  border-radius: 8px;
  font-family: inherit;
  background-color: #0076ff;
}

.menu-button__icon {
  width: 18px;
  margin-left: 10px;
  vertical-align: middle;
}

@media (min-width: 1100px) {
  .sidebar {
    width: 30%;
    padding: 0;
  }

  .menu-button {
    display: none;
  }
}

@media (max-width: 1100px) {
  .hide-nav {
    display: none;
  }
}
