@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 245, 245, 245;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    /* --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

html {
  min-height: 100%;
}

p {
  line-height: 30px;
}

hr {
  margin: 20px 0 !important;
}

body {
  direction: rtl;
  font-family: Yekan Bakh;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  color: #181818;
  font-size: 15px;

}

.layout a.text-[#2196f3] {
  color: rgb(123, 168, 250);
  text-decoration: rgba(123, 167, 250, 0.411);
}



.platform-videos-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 15px;
  margin-top: 25px;
  flex-wrap: wrap;
}



.platform-videos-container div span img {
  background: #333 !important;
}

.platform-videos-container div span {
  display: flex;
  align-items: center;
  border-left: 1px solid #fff2;
  max-height: 45px;
}


#tags {
  border-color: #0002;
  color: #181818;
}
.dark #tags {
  border-color: #fff2;
  color: #fff;
}

.platform-videos-container div p {
  font-size: 16px;
}

.platform-videos-container div span img {
  max-width: 65px;
}

.platform-videos-container button {

  margin-right: 10px;
  margin-left: 12px;

  position: absolute;
  left: 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
}



.platform-videos-container button img {
  border: none !important;
  border-radius: 0 !important;
  width: 7px;
  margin-left: 8px;
}

.platform-videos-container div {
  display: flex;
  position: relative;
  align-items: center;
  /* padding: 10px; */
  width: 47%;
  max-height: 70px;
  border-radius: 8px;

}



.platform-videos-container div:hover {
  background-color: #54637b1d;
}

.dialog-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 22;
}

.dialog-container div {
  display: flex;
  align-items: center;
}

.dialog-container button {
  margin-bottom: 10px;
}

.dialog-container button img {
  border: none !important;
  border-radius: 0 !important;
  width: 9px;
  margin-left: 8px;
}

.dialog-container a {
  border: none;
}

.bg-disable-dialog {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  cursor: pointer;
  left: 0;
  z-index: 20;
  backdrop-filter: blur(10px);
  box-shadow: inset 0 0 0 0px #181818;
}


.dialog-container video {
  width: 700px;
}


ul,
li {
  list-style: inside;
  line-height: 25px;
}

video,
img {
  border-radius: 8px;
  border: 1px solid #00000015;
}



h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}


pre code {
  border: 1px solid #00000015;
  border-radius: 8px;
  background: #00000005 !important;
}

#section-title:hover svg {
  opacity: 1;
  transition: all .2s;

}

.highlight-container {
  position: relative;
}

.highlight-content {
  position: relative;
  overflow: hidden;
}

.highlight-content::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 350px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #f9f9f9);
  pointer-events: none;
  transition: opacity 0.3s;

}

.highlight-content.expanded::after {
  opacity: 0;
  height: 10px;
  display: none !important;
}

.search-sidebar {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 90%;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: #49556a;
  cursor: pointer;
  color: #b1b6be;
  text-align: left;
  padding-right: 7px;
  padding-left: 7px;
  margin-bottom: 15px;
}

.placeholder-search {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.placeholder-search svg {
  width: 1rem;
  height: 1rem;
}

.placeholder-search span {
  padding-right: 7px;
}

.search-box-effect {
  width: 100vw;
  height: 100vh;
  background-color: #00000070;
  position: fixed;
  top: 0px;
  right: 0;
  backdrop-filter: blur(5px);
}

.search-box {
  position: fixed;
  z-index: 22;
  width: 40%;
  height: 60px;
  z-index: 100;
  top: 15%;
  border-radius: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.results ul {
  border-end-end-radius: 0.5rem;
  border-end-start-radius: 0.5rem;
  overflow: hidden;
  width: 100%;
  margin-top: 15px;
  border-radius: 10px;
}

.results ul li {
  background-color: #fff;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.results ul li svg {
  color: #808080;
  width: 20px;
  transform: rotate(180deg);
}

.shortcut {
  padding: 1px 8px;
  font-size: 12px;
  border: 1px solid #ffffff83;
  color: #ffffff83;
  border-radius: 0.25rem;
}

.results ul li div p {
  font-size: 15px;
}

.current-result {
  background-color: #0001;
}

.results ul li:hover div span {
  color: #0076ff;
}

.results ul .current-result div span {
  color: #0076ff;
}

.search-box-effect {
  position: fixed;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #00000022;
}

.search-box .search-input {
  width: 100%;
  color: #000 !important;
  padding: 15px;
  margin-top: 10px;
  border-radius: 0.5rem;
}

.search-box .search-input:focus {
  outline: none;
}

.suggestion {
  display: flex;
  padding-top: 5px;
  flex-wrap: wrap;
}

.suggestion {
  margin-right: 50%;
  width: 100%;
  transform: translateX(50%);
}

.suggestion button {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 12px;
  color: #fff;
  border-radius: 0.4rem;
  background-color: #181818;
  padding: 5px 10px;
  transition: 0.2s;
}

.suggestion button:hover {
  background-color: #222;
}

.platform-search_logo {
  margin-left: 10px;
  overflow: hidden;
  width: 25px;
  border-radius: 5px;
}

.url_results {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 15px;
  position: relative;
}

.platform_container {
  align-items: center;
  display: flex;
}

.url_results img.arrow-icon_result {
  width: 15px;
  position: absolute;
  left: 30px;
  top: 20px;
  transition: 0.2s;
}

@media (max-width: 1000px) {
  .search-box {
    width: 75%;
    top: 10%;
  }

  .results ul li div p {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .search-box {
    width: 85%;
    top: 5%;
  }


  .platform-videos-container {
    display: block;
  }

  .platform-videos-container div {
    width: 100%;
    padding: 5px 0px;
    margin-top: 15px;
  }


  .results ul li div p {
    font-size: 13px;
  }
}




@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}