@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 245, 245, 245;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  min-height: 100%;
}


body {
  direction: rtl;
  font-family: Yekan Bakh;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  color: #181818;
  font-size: 15px;

}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}


pre code {
  border: 1px solid #00000015;
  border-radius: 8px;
  background: #00000005 !important;
}

#section-title:hover svg {
  opacity: 1;
  transition: all .2s;

}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}