.notice {
  font-size: 14px;
  line-height: 1.8em;
  padding: 10px;
  background-color: #eee;
  border-right: 2px solid #ccc;
}

.notice--info {
  background-color: #e7f3fe;
  border-right: 2px solid #218be5;
}

.notice--danger {
  background-color: #ffc9d5;
  border-right: 2px solid #e5212b;
}
