.asciinema_video {
  width: 100%;
  height: 400px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 12px;
}
.asciinema_box {
  position: relative;
  cursor: pointer;
}
.asciinema_poster {
  width: 100%;
  height: 400px;
  position: absolute;
}
