.video-desktop-container {
  margin: 30px 0px;
  position: relative;
  height: 600px;
}

.video-deploy {
  position: absolute;
  right: 40%;
  top: 75px;
  opacity: 0;
  transition: 1s;
  box-shadow: 0 0 40px #00000025;
}
.video-deploy.show {
  opacity: 1;
}

.first-video {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.8s;
  z-index: 3;
  box-shadow: 0 0 40px #00000025;
}
.first-video.blur {
  position: absolute;
  left: 60%;
  filter: blur(2px);
  z-index: 0;
}
