.video-desktop-container {
  margin: 30px 0px;
  position: relative;
  height: 600px;
}

.video-deploy {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 75px;
  opacity: 0;
  transition: 1s;
  width: 285px;
  box-shadow: 0 0 30px #0000002e;
  border-radius: 8px;
  z-index: 9;
}

.video-deploy.show {
  opacity: 1;
}

.first-video {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: 2s;
  z-index: 3;
}

.first-video.blur {
  position: absolute;
  left: 60%;
  filter: blur(2px);
  z-index: 0;
}

.replay-video {
  display: inline-block;
  position: absolute;
  bottom: 0%;
  right: 50%;
  color: #276afd;
  border: 1px solid #276afd;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transform: translateX(50%);
  box-shadow: 0 0 10px #276afd23;
}

.replay-video div {
  padding: 0px 30px 0px 5px;
  margin: 0px 5px;
  border-radius: 5px;
  font-size: 14px;
  position: relative;
}

.replay-video div span {
  position: absolute;
  right: 5px;
  top: -3px;
  font-size: 22px;
}

.download {
  padding: 20px 0;
}

.download .windows:hover {
  background: #3291ff;
}

.download .windows {
  background: #276afd;
  color: #fff;
  padding: 10px 25px;
  font-size: 18px;
  border-radius: 0.5rem;
  margin: 5px 0px;
}

.download .windows a {
  color: #fff;
  border-bottom: none;
}

.download .windows img {
  display: inline-block;
  border: none;
  border-radius: 0;
  margin-left: 10px;
  margin-bottom: 3px;
}

.download h3 {
  display: inline-block;
}

.download .alert-text {
  padding: 0 10px;
  display: inline-block;
}

.video-desktop-container img.play-again {
  position: absolute;
  z-index: 99;
  left: 50%;
  transform: translateX(-50%);
  top: 40%;
  width: 85px;
  border-radius: unset;
  border: none;
  cursor: pointer;
}

#icon-os {
  margin: 0;
  border: none;
  border-radius: 0;
}

.os-container a {
  color: #fff !important;
  border-bottom: none;
  margin: 0;
  background-color: #0070f3;
  font-size: 14px;
  padding: 6px 20px;
  border-radius: 8px;
  white-space: nowrap;
  text-align: center;
  display: block;
  margin-bottom: 8px;
  min-width: 160px;
}

.dark-mode .os-container a {
  color: #87fcc4 !important;
  border: 1px solid #87fcc4;
  background: transparent;
}

.dark-mode .os-container a img {
  opacity: 0.6;
}

.dark-mode .os-container a:hover {
  background: #222;
}

.os-container a:hover {
  background: #3291ff;
}

.os-container a img {
  display: inline-block;
  border: none;
  border-radius: 0;
  margin-left: 5px;
}

.os-container div {
  margin-top: 38px;
}

@media (max-width: 768px) {
  .video-desktop-container {
    height: 475px;
  }

  .video-desktop-container img.play-again {
    top: 30%;
    width: 45px;
  }

  .first-video {
    width: 340px;
  }

  .video-deploy {
    width: 240px;
    top: 45px;
  }

  .replay-video {
    bottom: -10px;
  }

  .download .windows {
    font-size: 16px;
    margin: 15px 0px;
    width: 100%;
  }
}
