.header div:first-child {
  direction: rtl;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header div:first-child img {
  width: 90px;
}

.header button.grad {
  background: linear-gradient(90deg, #2b5589 0%, #1a2129 100%);
  /* background: radial-gradient(circle at -8.9% 51.2%, #87FCC4 0%, #87FCC4 15.9%, #28C1F5 15.9%, #28C1F5 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);  color: #181818; */
  border-radius: 8px;
  color: #fff;
  padding: 7px 20px;
  font-weight: 4000;
  font-size: 14px;
  cursor: pointer;
}

.header div:first-child ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.header div:first-child li {
  margin-left: 35px;
  cursor: pointer;
}

.header div:first-child a {
  transition: 0.2s;
  font-weight: 400 !important;
  font-size: 14px;
  color: #181818;
  font-weight: 300;
}

.header div:first-child a:hover {
  color: #333;
}

.header__slogan {
  color: #666;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.75;
}

.header__logo {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.header__logo img {
  height: 2.25rem;
  margin-left: 1rem;
}

.header__logo h2 {
  font-size: 1.125rem;
  font-weight: 400;
}

.header__nav {
  text-align: left;
}

.header__login {
  font-size: 0.875rem;
  color: #0070f3;
  padding: 0.25rem;
  margin-left: 1.25rem;
  display: inline-block;
}

.header__register {
  font-size: 0.875rem;
  color: white;
  padding: 0.375rem 0.75rem;
  display: inline-block;
  background-color: #0070f3;
  border-radius: 0.5rem;
}

.header__auth,
.header__links {
  display: none;
}

.header__links {
  margin-top: 1rem;
}

.header__links a {
  font-size: 0.875rem;
  color: #303030;
  padding: 0.25rem;
  margin-left: 0.75rem;
  display: inline-block;
}

.header__links a:last-child {
  margin-left: 0;
}

.header__floating-nav {
  height: 100%;
  right: 0;
  top: 0;
  width: 75%;
  position: fixed;
  z-index: 60;
  background-color: white;
}

.header__overlay {
  height: 100%;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 50;
  position: fixed;
  background-color: #303030;
}

.header__floating-nav,
.header__overlay {
  opacity: 0;
  transition: all 0.5s ease;
  transform: translateX(100%);
}

.header__menu-toggle {
  padding: 1rem;
}

.header__menu-toggle img {
  display: block;
}

.header__floating-nav-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.header__floating-nav-wrapper--open .header__floating-nav {
  opacity: 1;
  transform: translateX(0);
}

.header__floating-nav-wrapper--open .header__overlay {
  opacity: 0.25;
  transform: translateX(0);
}

.header__floating-nav-wrapper--open #close-menu {
  display: block;
}

.header__floating-nav-wrapper--open #open-menu {
  display: none;
}

.header__floating-nav-wrapper--open .header__overlay {
  display: block;
}

.header__floating-nav-wrapper--open .header__floating-nav {
  display: block;
}

.header__floating-nav .header__logo {
  display: flex;
  justify-content: center;
  margin: 2rem 1.5rem;
}

.header__floating-nav .header__auth {
  display: block;
  text-align: center;
}

.header__floating-nav nav {
  margin: 2rem 3rem;
}

.header__floating-nav ul {
  padding: 0;
  list-style-type: none;
}

.header__floating-nav-link {
  line-height: 1.75;
  text-align: center;
  padding-bottom: 0.75rem;
  margin-bottom: 0.75rem;
  border-bottom: 1px solid #eaeaea;
}

.header__floating-nav-link a {
  display: block;
  padding: 0.25rem;
  color: #303030;
  font-size: 0.875rem;
  font-weight: 400;
}

.header__links a:hover {
  color: #0070f3;
}

.header__login:hover {
  color: #303030;
}

.header__register:hover {
  color: white;
  background-color: #3291ff;
}

#open-menu {
  display: block;
}

#close-menu {
  display: none;
}

@media (min-width: 1200px) {
  .header {
    padding: 2rem 4rem 0;
  }

  .header__logo img {
    height: 2.75rem;
    margin-left: 1rem;
  }

  .header__logo h2 {
    font-size: 1.5rem;
  }

  .header__auth,
  .header__links {
    display: block;
  }

  .header__floating-nav-wrapper {
    display: none;
  }

  #open-menu {
    display: none;
  }
}

.search_header {
  width: 22px;
  cursor: pointer;
}

button.theme-mode {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.bg-app {
  --transition-duration: 200ms;
  width: min-content;
  display: inline-block;
  --text: #333;
  margin-right: 15px;
  padding-top: 7px;
  align-self: center;
  flex: auto;
  direction: ltr !important;
}

.bg-app {
  background-color: var(--bg);
  color: var(--text);
  transition: color, background-color var(--transition-duration);
}

.bg-app svg {
  transition: stroke var(--transition-duration);
  stroke: var(--text);
  width: 22px;
  height: 22px;
}

.bg-app .moon-icon {
  stroke-dasharray: 0px 1px;
  opacity: 0;
  transition: stroke-dasharray 0.5s ease-in, opacity 300ms ease-in;
}

.bg-app .sun-icon {
  stroke-dasharray: 1px 1px;
  opacity: 1;
  transition: stroke-dasharray 0.5s ease-in, opacity 300ms ease-in;
}

.bg-app.dark .moon-icon {
  stroke-dasharray: 1px 1px;
  opacity: 1;
}

.bg-app.dark .sun-icon {
  stroke-dasharray: 0px 1px;
  opacity: 0;
}

header div.menu-sm-device {
  display: none;
}

.action-sm-menu {
  background: none;
  border: none;
  cursor: pointer;
}

header .menu-sm-device .action-sm-menu img {
  width: 40px;
}

.sm-sidebar {
  direction: rtl;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 20;
  width: 70vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(15px);
  transition: all 0.3s;
}

.mian-menu {
  margin-bottom: 20px;
}

@media (max-width: 820px) {
  header {
    padding: 10px 25px;
  }

  header nav {
    display: none;
  }

  .mian-menu ul li {
    display: none;
  }

  .mian-menu button {
    display: none;
  }

  .mian-menu a {
    display: none;
  }

  .mian-menu header div:first-child {
    display: none;
  }

  header div.menu-sm-device {
    position: relative;
    display: flex;
    direction: rtl;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
  }
}
