.label--red {
  color: #e53e3e;
  background-color: #feb2b2;
  display: inline-block;
  border-radius: 4px;
  padding: 2px 8px;
  font-family: Arial, Helvetica, sans-serif;
}

.label--green {
  color: #38a169;
  background-color: #c6f6d5;
  display: inline-block;
  border-radius: 4px;
  padding: 2px 8px;
  font-family: Arial, Helvetica, sans-serif;
}

.label--orange {
  color: #d69e2e;
  background-color: #fefcbf;
  display: inline-block;
  border-radius: 4px;
  padding: 2px 8px;
  font-family: Arial, Helvetica, sans-serif;
}

.label--blue {
  color: #3182ce;
  background-color: #bee3f8;
  display: inline-block;
  border-radius: 4px;
  padding: 2px 8px;
  font-family: Arial, Helvetica, sans-serif;
}

.label--default {
  color: #555;
  background-color: #eee;
  display: inline-block;
  border-radius: 4px;
  padding: 2px 8px;
  font-family: Arial, Helvetica, sans-serif;
}
span.code {
  border-radius: 4px;
  direction: ltr;
  letter-spacing: 1px;
  margin: 0 4px;
  color: #185783;
  padding: 0px 8px;
  display: inline-block;
  background-color: #dbf0ff21;
}
