@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2c333f;
  --secondary: #109bfc;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
  font-family: Yekan Bakh;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--primary);
  font-weight: 500;
}

h1 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.wrapper {
  display: flex;
  margin: auto;
  direction: rtl;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
}

.article {
  color: #303030;
  width: 100%;
  padding: 0 20px;
  margin-top: 24px;
  background-color: white;
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  margin: 30px 0 10px 0;
}

.article h1:first-child,
.article h2:first-child,
.article h3:first-child,
.article h4:first-child,
.article h5:first-child,
.article h6:first-child {
  margin-top: 0;
}

.article p {
  margin: 0.5em 0;
  font-size: 0.8rem;
  line-height: 1.8em;
}

.article *:last-child {
  margin-bottom: 0;
}

.article a {
  color: var(--secondary);
  border-bottom: 1px dashed;
}

.article a:hover {
  color: #1076bd;
}

.article img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.article video {
  max-width: 100%;
}

code {
  direction: ltr;
  text-align: left;
  width: 100%;
  display: block;
  font-size: 14px;
  padding: 8px 20px;
  line-height: 1.8em;
  background-color: #eee;
  border-left: 2px solid var(--primary);
  overflow-x: auto;
}

span.code {
  border-radius: 4px;
  direction: ltr;
  letter-spacing: 1px;
  margin: 0 4px;
  color: #004473;
  padding: 0px 8px;
  display: inline-block;
  background-color: #0d9afd21;
}

.ltr {
  direction: ltr;
  text-align: left;
}

.list-more-space li {
  margin-bottom: 4px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 6px;
}

.table thead {
  background-color: #eee;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.page-head {
  display: flex;
}

.page-head img {
  max-width: 65px;
  height: fit-content;
  align-self: center;
}

img.page-icon {
  width: 94px;
  border: none !important;
  padding: 10px;
}

.page-title {
  flex: 1;
}

.page-description {
  color: #999;
  display: block;
  font-size: 14px;
  margin-top: -6px;
}

.commandDescription {
  display: block;
  font-size: 11px !important;
  margin-top: -25px !important;
}

.article img {
  border-radius: 12px;
  border: 1px solid #eaeaea;
}

.platforms {
  display: flex;
  flex-wrap: wrap;
}

.platforms a {
  width: 81px;
  height: 92px;
  color: #666666;
  text-align: center;
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: end;
  margin-left: 10px;
  margin-bottom: 20px;
  border-radius: 12px;
  padding-top: 10px;
}

.platforms img {
  max-width: none;
  border: none;
  width: auto;
  max-width: 70px;
}

.platforms span {
  line-height: 28px;
  display: block;
  font-weight: bold;
  direction: ltr;
  font-size: 14px;
}

.nav__title img,
.nav__link img {
  max-width: 22px;
  height: auto;
  border-radius: 4px;
  margin-left: 7px;
  display: inline-block;
  vertical-align: -4px;
}

.nav__link img.page-icon,
.nav__title img.page-icon {
  padding: 0px;
}

.article ul,
.article ol {
  font-size: 0.8rem;
  line-height: 1.8em;
  padding-inline-start: 40px;
  margin-block-end: 1em;
}

.article ul {
  list-style-type: disc;
}

.article ol {
  list-style-type: decimal;
}

@media (min-width: 768px) {
  main {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  main {
    width: 992px;
    margin: 0 auto;
  }
}

@media (min-width: 1400px) {
  main {
    width: 1400px;
    margin: 0 auto;
    overflow: hidden;
  }

  .wrapper {
    flex-direction: row;
    margin-top: 40px;
  }

  .article {
    width: 70%;
    border-radius: 12px;
    margin-bottom: 24px;
    padding-left: 30px;
  }

  .article p {
    margin: 1em 0;
    font-size: 16px;
    line-height: 2em;
  }

  .article ul,
  .article ol {
    font-size: 16px;
    line-height: 2em;
  }

  code {
    font-size: 16px;
  }
}

@media (min-width: 576px) {
  .menu-button {
    background-color: red;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 1.3em;
  }

  h2 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 1em;
  }

  h4 {
    font-size: 0.9em;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px !important;
  }
}

.container {
  width: 100% !important;
}

.text-grey {
  color: #999;
}

.text-sm {
  font-size: 0.875rem !important;
}

.bg-grey-lighter {
  background-color: #fafbfc;
}

.footer-icons a:hover {
  opacity: 1;
}

video {
  border-radius: 12px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.footer-container {
  direction: rtl;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 75px;
}

.footer-container div {
  margin-top: 10px;
}

.footer-container div a {
  font-weight: 300;
  color: #181818;
  display: block;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.footer-container div a img {
  margin-left: 10px;
}

.footer-col-container h5 {
  font-size: 17px;
  color: #181818;
  margin-top: 15px;
  font-weight: 600;
}

.footer-col-container h6 {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 300;
}

.footer-col-container p {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 300;
  color: #a0acb7;
}

.footer-col-container div {
  font-size: 14px;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  height: 235px;
  flex-wrap: wrap;
  align-content: flex-start;
}

.footer-col-container div a {
  display: inline-block;
  width: max-content;
  margin-left: 20px;
  font-weight: 300;
}

div.animate-play-container {
  position: relative;
  height: 300px;
}

div.footer-animate-container {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
}

div.animate-fade {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  z-index: 11;
  background: radial-gradient(
    ellipse at 50% 50%,
    rgba(14, 20, 22, 0) 0,
    #fff 80%
  );
}

.footer-bg-container {
  background: radial-gradient(
    87.68% 101.73% at 51.86% -0.36%,
    rgba(32, 106, 190, 0.38) 0%,
    rgba(13, 30, 51, 0) 100%
  );
  width: 100%;
  height: 800px;
  transform: rotate(180deg);
  position: absolute;
  top: 0px !important;
  right: 0;
  z-index: -9999;
}

.footer-animate-grid {
  position: relative;
  width: 100%;
  height: 24rem;
  overflow: hidden;
  z-index: 10;
  perspective: 450px;
}

div.footer-animate-lines {
  position: relative;
  width: 100%;
  height: 200%;
  background-image: linear-gradient(
      90deg,
      rgba(184, 184, 184, 0.5) 1px,
      transparent 0px
    ),
    linear-gradient(rgba(184, 184, 184, 0.5) 1px, transparent 0px);
  background-size: 45px 35px;
  transform-origin: 100% 0px 0px;
  background-repeat: repeat;
  animation: 15s linear 0s infinite normal none running play;
}

@keyframes play {
  0% {
    transform: rotateX(45deg) translateY(-50%);
  }

  to {
    transform: rotateX(45deg) translateY(0);
  }
}

@media (max-width: 820px) {
  .footer-container {
    grid-template-columns: 1fr;
  }

  .footer-container div {
    margin: 10px;
    height: max-content !important;
  }

  .footer-container div.col-4 {
    display: none;
  }
}
