@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2c333f;
  --secondary: #109bfc;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
  font-family: iranyekan, Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--primary);
  font-weight: 500;
}

h1 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.wrapper {
  display: flex;
  margin: auto;
  direction: rtl;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
}

.article {
  color: #303030;
  width: 100%;
  padding: 0 20px;
  margin-top: 24px;
  background-color: white;
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  margin: 30px 0 10px 0;
}
.article h1:first-child,
.article h2:first-child,
.article h3:first-child,
.article h4:first-child,
.article h5:first-child,
.article h6:first-child {
  margin-top: 0;
}

.article p {
  margin: 0.5em 0;
  font-size: 0.8rem;
  line-height: 1.8em;
}
.article *:last-child {
  margin-bottom: 0;
}
.article a {
  color: var(--secondary);
  border-bottom: 1px dashed;
}
.article a:hover {
  color: #1076bd;
}
.article img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.article video {
  max-width: 100%;
}

code {
  direction: ltr;
  text-align: left;
  width: 100%;
  display: block;
  font-size: 14px;
  padding: 8px 20px;
  line-height: 1.8em;
  background-color: #eee;
  border-left: 2px solid var(--primary);
  overflow-x: auto;
}

span.code {
  border-radius: 4px;
  direction: ltr;
  letter-spacing: 1px;
  margin: 0 4px;
  color: #004473;
  padding: 0px 8px;
  display: inline-block;
  background-color: #0d9afd21;
}

.ltr {
  direction: ltr;
  text-align: left;
}

.list-more-space li {
  margin-bottom: 4px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}
.table th,
.table td {
  padding: 6px;
}
.table thead {
  background-color: #eee;
}
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.page-head {
  display: flex;
}

img.page-icon {
  width: 64px;
  margin-left: 12px;
  border: none !important;
}

.page-title {
  flex: 1;
}

.page-description {
  color: #999;
  display: block;
  font-size: 14px;
  margin-top: -6px;
}

.commandDescription {
  display: block;
  font-size: 11px !important;
  margin-top: -25px !important;
}

.article img {
  border-radius: 12px;
  border: 1px solid #eaeaea;
}

.platforms {
  display: flex;
  flex-wrap: wrap;
}
.platforms a {
  color: #666666;
  text-align: center;
  padding: 0;
  border: none;
  display: block;
  margin-left: 32px;
  margin-bottom: 24px;
  border-radius: 12px;
}
.platforms img {
  max-width: none;
  border: none;
  border-radius: 12px;
  width: 85px;
  height: 85px;
}
.platforms span {
  line-height: 28px;
  margin-top: 4px;
  display: block;
  font-weight: bold;
  direction: ltr;
}

.article ul, .article ol {
  font-size: 0.8rem;
  line-height: 1.8em;
  padding-inline-start: 40px;
  margin-block-end: 1em;
}

.article ul {
  list-style-type: disc;
}

.article ol {
  list-style-type: decimal;
}

@media (min-width: 768px) {
  main {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  main {
    width: 992px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  main {
    width: 1200px;
    margin: 0 auto;
  }

  .wrapper {
    flex-direction: row;
    margin-top: 40px;
  }

  .article {
    width: 70%;
    border-radius: 12px;
    margin-bottom: 24px;
    padding-left: 4rem;
  }

  .article p {
    margin: 1em 0;
    font-size: 16px;
    line-height: 2em;
  }

  .article ul, .article ol {
    font-size: 16px;
    line-height: 2em;
  }

  code {
    font-size: 16px;
  }
}

@media (min-width: 576px) {
  .menu-button {
    background-color: red;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 1.3em;
  }
  h2 {
    font-size: 1.2em;
  }
  h3 {
    font-size: 1em;
  }
  h4 {
    font-size: 0.9em;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px !important;
  }
}

.container {
  width: 100% !important;
}
.text-grey {
  color: #999;
}
.text-sm {
  font-size: 0.875rem !important;
}
.bg-grey-lighter {
  background-color: #fafbfc;
}
.footer-icons a:hover {
  opacity: 1;
}
video {
  border-radius: 12px;
  margin-top: 15px;
  margin-bottom: 15px;
}
