:root {
  --menu-width: 37.5em;
  /* Width of menu */
  --items: 4;
  /* Number of items you have */
  --item-width: 200px;
}

section#menu {
  display: flex;
  transform-style: preserve-3d;
  justify-content: flex-end;
  position: relative;
  z-index: 2;
  perspective: 2000px;
  flex-wrap: wrap;
}

section#menu .sub-menu-holder {
  pointer-events: none;
  color: rgba(0, 0, 0, 0.5);
  font-weight: normal;
  padding: 1em;
  position: absolute;
  transition: opacity 2 ease-out;
  transform: rotateX(-25deg) scale(1);
  transform-origin: 50% 7em 0em;
  opacity: 0;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1), 0 2px 20px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  top: 3rem;
  border-radius: 10px;
  background: white;
  display: block;
  transition: bottom 0.25s ease-out, opacity 0.01s ease-out 0.15s;
  margin-top: 10px;
}

section#menu .sub-menu-holder div {
  width: 20px;
  height: 20px;
  background: #fff;
  transform: rotate(45deg);
  border-radius: 4px;
  position: absolute;
  top: -8px;
}

.item-list-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 12px;
  transition: 0.3s;
}

.item-list-container img {
  width: 55px;
  /* max-height: 60px; */
  border-radius: 12px;
  margin-left: 10px;
}

.item-list-container:hover p {
  color: #111;
  font-weight: bold;
}

.field-menu {
  color: white;
  font-weight: 600;
  transform-style: preserve-3d;
  /* flex-grow: 1; */
  display: flex;
  /* flex-basis: var(--item-width); */
  box-sizing: border-box;
  padding-left: 40px;
  justify-content: center;
  perspective: 200px;
  padding-bottom: 40px;
}

section .menu-item {
  color: white;
  font-weight: 600;
  transform-style: preserve-3d;
  /* flex-grow: 1; */
  display: flex;
  /* flex-basis: var(--item-width); */
  box-sizing: border-box;
  padding-left: 40px;
  justify-content: center;
  perspective: 200px;
  padding-bottom: 40px;
}

section .menu-text,
section .menu-text a {
  font-size: 16px;
  color: white;
  text-decoration: none;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  transition: color 0.1s ease-out;
  text-align: center;
}

section .menu-text a span {
  display: block;
  font-size: 14px;
  text-align: center;
  color: rgb(73, 72, 72);
  font-weight: 400;
}

.dark-mode section .menu-text a span {
  display: block;
  font-size: 14px;
  text-align: center;
  background: linear-gradient(92deg, #87fcc4 0%, #28c1f5 98.77%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

section .menu-text a:hover {
  color: rgba(255, 255, 255, 0.5);
}

#sub-menu-container {
  position: absolute;
  z-index: -1;
  min-width: 100%;
  top: -1.05em;
  width: 100%;
}

section .menu-item:hover ~ #sub-menu-container #sub-menu-holder {
  animation: clipPath 0.25s ease-out 1 forwards;
  transition: clip-path 0.25s ease-out, right 0.15s ease-out,
    height 0.15s ease-out;
  /* opacity: 1; */
}

.menu-item .sub-menu {
  position: absolute;
  top: 7em;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  min-width: 27.5em;
  pointer-events: none;
  box-sizing: border-box;
  z-index: 999;
  margin-left: -5em;
  clip-path: inset(0 10em 10em 15em);
  opacity: 0;
  font-weight: initial;
  padding: 1.5em;
  transition: all 0.25s ease-out, opacity 0.05s ease-in,
    margin-left 0.05s ease-out, clip-path 0.05s ease-out;
}

.menu-item .sub-menu.double {
  min-width: 41.25em;
  height: 18.75em;
  display: grid;
  grid-template-columns: 54% 50%;
}

.menu-item .sub-menu.triple {
  direction: rtl;
  display: grid;
  top: 4rem;
  padding: 1.5em 2.5em;
  grid-template-columns: 1fr 1fr 1fr;
}

.menu-item:hover .sub-menu {
  pointer-events: all;
  clip-path: inset(0 0 0 0);
}

.menu-item:hover .sub-menu {
  opacity: 1;
  margin-left: 0;
}

@keyframes clipPath {
  0% {
    opacity: 0;
  }

  100% {
    transform: rotateX(0deg) scale(1);
    top: 4.5rem;
    opacity: 1;
  }
}

#sub-menu-bottom {
  background: #d4e3ea70;
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: all 0.25s ease-out, height 0.1s ease-out;
  right: 0;
  width: 100%;
  height: 5em;
}

section
  .menu-item:nth-of-type(3).highlight:hover
  ~ #sub-menu-container
  #sub-menu-holder
  #sub-menu-bottom {
  height: 7.5em;
}

span#menu-arrow {
  position: absolute;
  background: #fff;
  width: 16px;
  height: 16px;
  top: -7px;
  transform: rotate(45deg);
  border-radius: 2px;
}

.bottom-container {
  grid-area: 4 / -3 / 4 / 3;
  padding-top: 1.5em;
  color: #3a5260;
  font-weight: 500;
}

.top-container {
  grid-area: 1 / -3 / 1 / 3;
  margin: 0 0 2em 0;
}

.bottom-container a {
  float: right;
  background: linear-gradient(90deg, #8ea4b166, #a3b5bf6b);
  padding: 0.5em 1em;
  border-radius: 100px;
  position: absolute;
  color: #2c4655bf;
  font-weight: bold;
  text-decoration: none;
  right: 1.5em;
  bottom: 1.5em;
}

.bottom-container a:hover {
  background: linear-gradient(90deg, #8ea4b136, #a3b5bf33);
}

.sub-menu h3 {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: rgb(44 70 86 / 68%);
  margin: 0.75em 0;
}

.sub-menu .box a {
  width: 100%;
  float: right;
  font-size: 1em;
  line-height: 1.75em;
  color: #7a8a94;
  text-decoration: none;
}

.sub-menu .box a:hover {
  color: rgb(44 70 86);
}

.box {
  margin: 0 0 3em 0;
}

.icon.big i {
  font-size: 1.25em;
  top: 0.2em;
}

section
  .menu-item.highlight:hover
  ~ #sub-menu-container
  #sub-menu-holder
  #sub-menu-bottom {
  opacity: 1;
}

#info-box {
  position: absolute;
  bottom: 2em;
  right: 2em;
}

#info-box ul {
  list-style: none;
}

#info-box a {
  color: white;
  text-decoration: none;
  text-align: right;
  padding: 0.5em 0;
  transition: all 0.1s ease-out;
  display: block;
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: 900;
  letter-spacing: 1px;
}

#info-box a:hover {
  color: rgba(255, 255, 255, 0.5);
}
