.sidebar {
  flex-shrink: 0;
  width: 100%;
  padding: 0 20px;
  font-size: 16px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.brand {
  display: flex;
}

.brand__text {
  margin-right: 16px;
  color: var(--primary);
}

.brand__text p {
  font-size: 13px;
  margin-top: 4px;
}

.logo {
  width: 64px;
  height: 64px;
}

.nav__link {
  outline: none;
  color: #606060;
  font-weight: normal;
  display: inline-block;
}

.nav > .nav__link::before {
  margin-left: 8px;
  margin-right: 3px;
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: #a1a1a1;
}

.nav__link--active {
  color: #218be5;
  font-weight: bold;
}

.nav__title {
  color: #606060;
  cursor: pointer;
  display: inline-block;
}

.nav__title--active {
  color: #303030;
  font-weight: bold;
}

.nav__title--active + .nav__list {
  display: block;
}

.nav__title::before {
  margin-left: 8px;
  content: "";
  display: inline-block;
  width: 10px;
  height: 6px;
  background-color: #a1a1a1;
  background-size: initial;
  background: url(/static/arrow.svg) no-repeat;
  background-position: center center;
  transform: rotate(90deg);
}
.nav__title--active::before {
  transform: rotate(0deg);
}

.nav__list {
  margin: 0;
  padding: 0;
  display: none;
  margin-right: 16px;
  list-style-type: none;
  border-right: 1px solid #a1a1a1;
}

.nav__list .nav__link {
  padding-right: 20px;
}

.nav__list .nav__title,
.nav__list .nav__list {
  margin-right: 32px;
}

.nav__list .nav__title {
  margin-right: 16px;
}

.nav__title,
.nav__link,
.nav__list {
  margin-bottom: 16px;
}

li:last-child > .nav__title:not(.nav__title--active),
li:last-child > .nav__link {
  margin-bottom: 0;
}

.platform-icon {
  width: 20px;
  margin-left: 4px;
  vertical-align: middle;
  filter: grayscale(1);
}
.platform-icon.active {
  filter: grayscale(0);
}

.menu-button {
  padding: 8px;
  width: 100%;
  border: none;
  color: white;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  font-family: inherit;
  background-color: #0076ff;
}

.menu-button__icon {
  width: 18px;
  margin-left: -25px;
  vertical-align: middle;
  display: inline-block;
  float: right;
  margin-top: 4px;
}

@media (min-width: 1200px) {
  .sidebar {
    width: 30%;
    margin-top: 24px;
    padding: 0 4rem 0 0;
  }

  .menu-button {
    display: none;
  }
}

@media (max-width: 1200px) {
  .hide-nav {
    display: none;
  }
  .search-sidebar {
    display: none !important;
  }
}

.search-sidebar {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: #d6d8dc;
  cursor: pointer;
  color: #b1b6be;
  text-align: left;
  padding-right: 7px;
  padding-left: 7px;
  width: 215px;
  margin-bottom: 15px;
}
.placeholder-search {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.placeholder-search svg {
  width: 1rem;
  height: 1rem;
}
.placeholder-search span {
  padding-right: 7px;
}

.search-sidebar:hover {
  border-color: #0076ff;
}

.search-box-effect {
  width: 100vw;
  height: 100vh;
  background-color: #00000070;
  position: fixed;
  top: 0;
  right: 0;
}

.search-box {
  position: fixed;
  z-index: 22;
  width: 40%;
  height: 60px;
  z-index: 11;
  top: 15%;
  border-radius: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.results ul {
  border-end-end-radius: 0.5rem;
  border-end-start-radius: 0.5rem;
  overflow: hidden;
  width: 100%;
  margin-top: 15px;
  border-radius: 10px;
}
.results ul li {
  background-color: #fff;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.results ul li svg {
  color: #808080;
  width: 20px;
  transform: rotate(180deg);
}
.shortcut {
  padding: 1px 8px;
  font-size: 12px;
  border: 1px solid #d6d8dc;
  border-radius: 0.25rem;
}

.results ul li div p {
  font-size: 15px;
}
.current-result {
  background-color: #bfdcf5;
}
.results ul li:hover div span {
  color: #0076ff;
}
.results ul .current-result div span {
  color: #0076ff;
}
.search-box-effect {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #000000b4;
}
.search-box .search-input {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  border-radius: 0.5rem;
}
.search-box .search-input:focus {
  outline: none;
}
.suggestion {
  display: flex;
  padding-top: 5px;
  flex-wrap: wrap;
}
.suggestion {
  margin-right: 50%;
  width: 100%;
  transform: translateX(50%);
}
.suggestion button {
  margin-left: 10px;
  margin-top: 10px;
}
.suggestion button {
  font-size: 12px;
  color: #fff;
  border-radius: 0.4rem;
  background-color: #0076ff;
  padding: 5px 10px;
  transition: 0.2s;
}
.suggestion button:hover {
  background-color: #218be5;
}
.platform-search_logo {
  margin-left: 10px;
  width: 25px;
  border-radius: 5px;
}
.url_results {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 15px;
  position: relative;
}
.platform_container {
  align-items: center;
  display: flex;
}
.url_results img.arrow-icon_result {
  width: 15px;
  position: absolute;
  left: 30px;
  top: 20px;
  transition: 0.2s;
}

@media (max-width: 1000px) {
  .search-box {
    width: 75%;
    top: 10%;
  }
  .results ul li div p {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .search-box {
    width: 85%;
    top: 5%;
  }
  .results ul li div p {
    font-size: 13px;
  }
}
