.sidebar {
  width: 100%;
  padding: 0 20px;
  font-size: 16px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.brand {
  display: flex;
}

.brand__text {
  margin-right: 16px;
  color: var(--primary);
}

.brand__text p {
  font-size: 13px;
  margin-top: 4px;
}

.logo {
  width: 64px;
  height: 64px;
}

.nav__link {
  outline: none;
  color: #606060;
  font-weight: normal;
  display: inline-block;
}

.nav > .nav__link::before {
  margin-left: 8px;
  margin-right: 3px;
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: #a1a1a1;
}

.nav__link--active {
  color: #218be5;
  font-weight: bold;
}

.nav__title {
  color: #606060;
  cursor: pointer;
  display: inline-block;
}

.nav__title--active {
  color: #303030;
  font-weight: bold;
}

.nav__title--active + .nav__list {
  display: block;
}

.nav__title::before {
  margin-left: 8px;
  content: '';
  display: inline-block;
  width: 10px;
  height: 6px;
  background-color: #a1a1a1;
  background-size: initial;
  background: url(/static/arrow.svg) no-repeat;
  background-position: center center;
  transform: rotate(90deg);
}
.nav__title--active::before {
  transform: rotate(0deg);
}

.nav__list {
  margin: 0;
  padding: 0;
  display: none;
  margin-right: 16px;
  list-style-type: none;
  border-right: 1px solid #a1a1a1;
}

.nav__list .nav__link {
  padding-right: 20px;
}

.nav__list .nav__title, .nav__list .nav__list {
  margin-right: 32px;
}

.nav__list .nav__title {
  margin-right: 16px;
}

.nav__title, .nav__link, .nav__list {
  margin-bottom: 16px;
}

li:last-child > .nav__title:not(.nav__title--active), li:last-child > .nav__link {
  margin-bottom: 0;
}

.platform-icon {
  width: 20px;
  margin-left: 4px;
  vertical-align: middle;
  filter: grayscale(1);
}
.platform-icon.active {
  filter: grayscale(0);
}

.menu-button {
  padding: 8px;
  width: 100%;
  border: none;
  color: white;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  font-family: inherit;
  background-color: #0076ff;
}

.menu-button__icon {
  width: 18px;
  margin-left: 10px;
  vertical-align: middle;
}

@media (min-width: 1200px) {
  .sidebar {
    width: 30%;
    margin-top: 24px;
    padding: 0 4rem 0 0;
  }

  .menu-button {
    display: none;
  }
}

@media (max-width: 1200px) {
  .hide-nav {
    display: none;
  }
}
